@use '../variables/colors' as c;
@use '../variables/var' as v;
@use '../modules/mixins' as m;

.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: 40px;
  border: none;
  text-align: center;

}

.btn--primary {
  background-color: c.$color-primary;
  &:hover {
  background-color: rgba(34, 34, 34, 0.25);
    border: 4px solid rgba(c.$color-primary, 0.2);
    color: black;
}
}

.btn--large {
  font-size: 16px;
  padding: 22px 157px;

}